extends layout

block content
    h1 Orchestrator
    p Orchestrator allows you to synchronize your browser. Scrolling, navgating and mouse events are propagated to all connected browsers. 
    section
        h1 Start a new session
        form(action="/", method="POST")
            p
                label Key
                    input(name="key")
            p
                button(type=submit) Start
