doctype 5
html
    head
        title Orchestrator
        meta(charset='UTF-8')
        link(rel="stylesheet", href="/styles.css")
        link(rel="icon", href="/logo-32x32.png")

    body
        header
            h1 Orchestrator
        main
            block content
